/* (c) Copyright Frontify Ltd., all rights reserved. */

.container {
    min-height: 100px;
}

.list {
    display: grid;
    grid-template-columns: repeat(auto-fill, 100px);
}

.list_item {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}


