.colors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.color {
    display: flex;
    min-width: 40px;
}

.colorSmall {
    height: 20px;
}

.colorMedium {
    height: 40px;
}

.colorLarge {
    height: 80px;
}

.colorResizable {
    overflow: hidden;
    resize: horizontal;
}

.colorElement {
    position: relative;
    width: 100%;
    height: 100%;
}

.removeButton {
    position: absolute;
    z-index: 1;
    top: 50%;
    right: var(--f-spacing-2x);
    display: flex;
    box-sizing: border-box;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: var(--f-spacing-1x);
    background-color: var(--f-white);
    border-radius: 2px;
    color: var(--f-black);
    cursor: pointer;
    transform: translateY(-50%);
    transition: all var(--f-transition-ease-in-out);
}

.removeButton:hover {
    background-color: var(--f-black-10);
}

.removeButton:active {
    background-color: var(--f-black-20);
}

.colorBackground {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.colorName {
    position: absolute;
    z-index: 1;
    display: flex;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    color: var(--f-white);
}

.color:first-child .colorBackground {
    border-bottom-left-radius: var(--f-corner-4px);
    border-top-left-radius: var(--f-corner-4px);
}

.color:last-child .colorBackground {
    border-bottom-right-radius: var(--f-corner-4px);
    border-top-right-radius: var(--f-corner-4px);
}

.addMoreColors {
    display: flex;
    flex-direction: row;
    padding: var(--f-spacing-4x);
    background-color: var(--f-black);
    border-radius: var(--f-corner-4px);
}

.addMoreColorsColor {
    width: 24px;
    height: 24px;
    border-radius: 2px;
}

.addMoreColorsColor:not(:last-child) {
    margin-right: var(--f-spacing-1x);
}

.addMoreColorsFlyout {
    z-index: 1;
}

.addButtonContainer {
    position: relative;
}

.addMoreColorsContainer {
    position: relative;
    box-sizing: border-box;
    padding: 16px;
}

.addMoreColorsArrowContainer {
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 0;
    transform: translateY(-50%) translateX(12px);
}

.addMoreColorsArrow {
    width: 16px;
    height: 16px;
    background-color: var(--f-black);
    transform: rotate(45deg);
}
