/* (c) Copyright Frontify Ltd., all rights reserved. */

.cm-editor[class*='ͼ'] {
    overflow: hidden;
    border: var(--editor-border);
    margin: var(--editor-margin);
    border-radius: var(--editor-border-radius);
}

.cm-editor[class*='ͼ'] .cm-gutters {
    font-family: Courier;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: center;
}

.cm-editor.cm-focused[class*='ͼ'],
.cm-editor.cm-focused[class*='ͼ']:focus {
    border-radius: var(--editor-border-radius);
    outline-offset: 2px;
    outline: 2px solid transparent;
    box-shadow: rgb(255, 255, 255) 0px 0px 0px 2px, rgb(94, 158, 214) 0px 0px 0px 6px, rgba(0, 0, 0, 0) 0px 0px 0px 0px;
}

.cm-editor[class*='ͼ'] .cm-content {
    padding: 16px 20px 20px 20px;
    font-family: Courier;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    letter-spacing: 0.02em;
    text-align: left;
}

.cm-editor[class*='ͼ'] .cm-lineNumbers .cm-gutterElement {
    padding: 0px 10.5px;
    text-align: center;
}
